body {
  background-image: url("farm.jpg");
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 400px;
}
h2{
  font-size: 30px;
  margin-right: 100px;
  margin-left:60px;
  color:white;
}
h1 {
    color:chocolate;
    margin-left:120px;
}
input{
  width: 70%;
  background-color:cornsilk;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 4px solid black;
}
button {
  background-color: #4CAF50;
  margin : auto;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:150px
}